{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <h3>Şifre mi Unutum</h3>
  <p> Sistemdeki kayıtlı e-mail addresini yazınız</p>

  <form method="POST">
    {% csrf_token %}
    {{ form |crispy }}
    <input class="waves-effect waves-light btn" type="submit" value="Gönder">
  </form>
{% endblock %}