{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <h3>Yeni şifre oluştur </h3>
  
    {% if validlink %}
  <form method="POST">
    {% csrf_token %}
    {{ form |crispy }}
    <input class="waves-effect waves-light btn" type="submit" value="Kaydet">
  </form>
  {% else %}
  <p style:"color:red;"> Token bulunamadı.</p>
  <p>
    <a href="{% url 'password_reset' %}">
        Token yenile
    </a>
  </p>
  {% endif %}
{% endblock %}