{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<h2></h2>
  <p>şifre başarıyla başarıyla değiştirildi.</p>
  <p> <a href="{% url 'login'  %}">Giriş yap</a>  </p>
    

{% endblock %}