{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body %}

<div class="col-md-8 col-md-offset-3">


      <form method="POST" enctype="multipart/form-data">

          <div class="input-field col s8 z-depth-3" >
            {% csrf_token %}
            {{form|crispy}}
          <input class="waves-effect waves-light btn" type="submit" value="Şifreyi Değiştir">
          <hr>
          </div>
      </form>


</div>

{%endblock %}
