{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block body %}

<div class="col-md-8 col-md-offset-3">


      <form method="POST" enctype="multipart/form-data">

          <div class="input-field col s8 z-depth-3" >
            {% csrf_token %}
            {{form|crispy}}


          <input class="waves-effect waves-light btn" type="submit" value="{{ title }}">
          {% if  title == 'Giriş yap' %}
          <a class="waves-effect waves-light btn" href="{% url 'accounts:register' %}" >Kayıt ol</a>
          <a class="pull-right" href="{% url 'password_reset' %}" >Şifremi unuttum</a>

          {% endif %}
          <hr>
          </div>
      </form>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

<script>
(function($){
  $(function(){
    // Plugin initialization
    $('select').not('.disabled').formSelect();
    $('.datepicker').datepicker({yearRange:100,container:});
  });
})(jQuery); // end of jQuery name space
</script>
{%endblock %}
