<!-- Navbar Start -->
<nav>
  <div class="nav-wrapper  indigo darken-3" >
    {% if  request.user.is_authenticated %}
    <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons" class="left">cloud</i>Website</a>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="brand-logo"><i class="material-icons" class="left">cloud</i>Website</a>
    {% endif %}

    <ul id="nav-mobile" class="right hide-on-med-and-down">

 
      {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:change_password' %}">Şifre Değiştir</a></li>
          <li><a href="{% url 'accounts:profile' %}"class="material-icons">account_box</a></li>

      {% endif %}

      {% if not request.user.is_authenticated %}
          <li><a href="{% url 'accounts:register' %}" >Kayıt ol</a></li>
          <li><a href="{% url 'accounts:login' %}">Giriş</a></li>
      {% else %}
          <li><a href="{% url 'accounts:logout' %}" class="material-icons">exit_to_app</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
