{% extends 'base.html' %}



{% block body %}

    <div class="row purple lighten-5 card">
        <div class="col s4 ">
                <h2 class="center">Hoşgeldin</h2>
                

        </div>
        <div class="col s4 ">
                <p class="center">Kullanıcı Adı: {{ user.username }}</p>
                <p class="center">Ad: {{ user.first_name }}</p>
                <p class="center">Soyad: {{ user.last_name }}</p>
                <p class="center">email: {{ user.email }}</p>
                <p class="center">Doğum günü: {{ user.profile.birthday }}</p>
                <p class="center">Cinsiyet: {{ user.profile.sex }}</p>
                <p class="center">Cep telefonu: {{ user.profile.cell_phone }}</p>
                <p class="center">Hakkımda: {{ user.profile.about }}</p>
        </div>

    </div>




{% endblock %}